<h1><img src="./assets/img/soldier_level1.png" alt="image" height="80"> 
  Στρατολογίσου Στρατιώτη!!</h1>
<hr>
<h2>Εισαι στο 1ο επίπεδο - Συμπληρωσε τα στοιχεία σου στρατιώτη!!!</h2> 
<br />

<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Όνομα</mat-label>
    <input matInput placeholder="Γράψε το ονοματεπώνυμο σου">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Παρατσούκλη</mat-label>
    <input matInput placeholder="Πως σε φωνάζουν">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>

  


</div>
<section>
  <div class="example-button-row">
    <button mat-raised-button color="primary">Αποθήκευση</button>
    <button mat-raised-button>Καθαρισμός</button>
  </div>
</section>

